[Unit]
Description=Job that runs the tldr-bot
Wants=network-online.target
After=network-online.target

[Service]
SyslogIdentifier=tldr-bot
User=tldr-bot
Group=tldr-bot
Type=notify
KillSignal=SIGQUIT
NotifyAccess=all
Restart=always
RuntimeDirectory=uwsgi
StandardError=syslog
EnvironmentFile=/path/to/environment_file
ExecStart=/usr/local/bin/uwsgi --socket localhost:${PORT} --wsgi-file ${APP_ROOT}/tldr_bot.py --callable app --single-interpreter

[Install]
WantedBy=multi-user.target
