[Unit]
Description=Job that runs the tldr-bot

[Service]
EnvironmentFile=/srv/tldr-bot/.bootstraprc
ExecStart=/usr/local/bin/uwsgi --socket localhost:${PORT} --wsgi-file /srv/tldr-bot/post_comment.py --callable app --single-interpreter
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
